# Model configuration files
include spwk_agtech/data/wofost_npk.crop
include spwk_agtech/data/wofost_npk.site
include spwk_agtech/data/wofost_npk.soil
include spwk_agtech/data/Wofost71_NPK.conf
# Input files
include spwk_agtech/data/NASAPowerWeatherDataProvider_LAT00350_LON01280.cache